.navigator-row {
    min-width: 5rem;
    width: 5rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
}

.navigator-row.active {
    background-color: var(--colour-4);
    color: var(--colour-1);
}

.navigator-row.active .navigator-row-active {
    background-color: var(--colour-2);
    color: var(--colour-4);
}

.navigator-row .navigator-row-inactive {
    color: var(--colour-2);
}

.navigator-row .navigator-row-active,
.navigator-row .navigator-row-inactive {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
}
