.transpose {
    min-width: 3rem;
    width: 3rem;
    max-height: 1rem;
    display: flex;
}

.transpose .value {
    min-width: 2rem;
    width: 2rem;
    background-color: var(--colour-2);
}

@media (prefers-color-scheme: dark) {
    .transpose .value {
        background-color: var(--colour-3);
    }
}